PYTHON_BIN=python
PUT_CHECKPOINT=/absolute/path/to/put/checkpoint.pth
PUT_PVQVAE_CHECKPOINT=/absolute/path/to/put/pvqvae_checkpoint.pth
SBVC_IMAGE_ROOT=/absolute/path/to/places365/val_large
SBVC_MASK_ROOT=/absolute/path/to/testing_mask_dataset
SBVC_TRAIN_ROOT=/absolute/path/to/places365/train
